body{
    background-color: skyblue;
}
h1{
    color:blueviolet;
    text-align: center;
}
div{
    color:black;
}
#form{
    background-color:gray;
    margin: 20px;
    width: 300px;
    padding: 100px;
    border: 1px solid gray;
    float: left;
}
button{
    color: blue;
}
#demo{
    color:black;
}